@{
  Layout = "_Layout";
}

@using MouseMingleClient.ViewModels
@model LoginViewModel

<div class="login-main">
  <h2>Log In</h2>
  <hr />

  @if(!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
  }

  @using (Html.BeginForm())
  {
    <div class="login-form">
      <div class="login-input">
        @Html.LabelFor(m => m.Email) 
        @Html.TextBoxFor(m => m.Email)
      </div>
      <div class="login-input">
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
      </div>

    <input type="submit" value="Login" class="login-btn"/>
    </div>
  }
<p class="login-links"><span>@Html.ActionLink("Register new account", "Register")</span><span class="login-img"></span><span>@Html.ActionLink("Back to accounts home", "Index")</span></p>
</div>

