@{
    ViewData["Title"] = "Create Rodents";
}

@using MouseMingleClient.Models
@model MouseMingleClient.Models.Rodent


<h3>Add a new Rodent to the Shelter: </h3>

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Name): 
  @Html.TextBoxFor(model => model.Name)</p>
  <p>@Html.LabelFor(model => model.Species): 
  @Html.TextBoxFor(model => model.Species)</p>
  <p>@Html.LabelFor(model => model.Age): 
  @Html.TextBoxFor(model => model.Age)</p>
  <p>@Html.LabelFor(model => model.Location): 
  @Html.TextBoxFor(model => model.Location)</p>

  <input type="submit" value="Create Your Profile" class="btn btn-primary"/>
}
<hr />
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>